*.zip
*.core
*.BAK
content/

params_test
test_forms

mustach/
tmpl
wiki
must
a.out
test_util
test_tmpl
sample
writef
tmp123.txt
test_errno
test_sort
admin
long_page
menu
test_breadcrumbs
test_params
test_strings
test_altstyle
fix_perms
