@import url('/wiki/static/form.css');

/* -----------------
body {
	margin:0 auto;
	*max-width:96%;*
	padding:0 10px
	line-height:1.6;
}
-------------- */


body {
/*
	background-color: #f0f0f0;
	color: #353535;
*/
        background-color: #10151a;
        color: #00ff80;

/*	margin: 0 auto;*/
	max-width:920px; 
/*	padding: 0 10px 0 10px;*/
	padding: .3em;

/* font-family:sans-serif;font-size:1.1em;line-height:1.5em */
/*font-family: "Lucida Grande",Verdana,Lucida,Helvetica,Arial,sans-serif; */

	font-family: monospace;
	font-size: 20px;

/*
	font-size: 1.1em;
	line-height: 1.5em;
*/
}


a {
	color: #008Acf;
	background-color: transparent;
}
a:active, a:hover {
	color: #00CFcf;
	outline: 0;
}


img{border:0;max-width: 100%;}

/* ----------------
h1,h2,h3 {
	line-height:1.2
} -------- */
/*header,*/
/*code,pre,kbd,samp,h1,h2,h3,h4,h5,h6{font-family:monospace;overflow-x:auto;}*/
header 	{
	margin: 2em 0 2em;
	border-bottom: 1px dashed green;
}

h1,h2,h3,h4,h5,h6 {
	font-family: inherit;
	line-height: 1.5em;
	margin: 0 0 .5em;
}
h1{font-size:2em}
h2{font-size:1.5em}
h3{font-size:1.3em}
h4{font-size:1.15em}
h5{font-size:1em}
h6{font-size:.75em;text-transform:uppercase}

hr {
	height: 1px;
	border: none;
	color: #080;
	background-color: #080;
}

ul {
	list-style-type: none;
	padding-left: 0;
}

ol.breadcrumb {
	list-style-type: none;
	padding-left: 0;
	/*margin: 0;*/
}
ol.breadcrumb li {
	/*float: left;*/
	display: inline;
}

p{margin:0 0 1em}
blockquote{border-left:.1em solid #e2e5e9;margin:1.5em 0;padding:0 1.25em 0 1.24em}
footer{text-align: center;border-top:solid #e2e5e9 0.1em;margin:2em 0; font-size: 0.9em; margin-top: 1em; padding: 1em 0 1em;}

.top_links {
	font-size: .8em;
}

.grid-1 {
	display: grid;
	grid-template-columns: 50% 50%;
}

code, pre {
	background-color: #242;
	font-size: 13px;
}

.CodeMirror {
	background-color: blue;
	color: red;
	border: 1px solid black; 
	font-size: 13px;
}

.breadcrumbs {
	border-bottom: 1px solid #3a3;
	padding-bottom: .3em;
}

div.main_view {
	padding: .2em;
}

