ol.breadcrumb {
	list-style-type: none;
	padding-left: 0;
	/*margin: 0;*/
}
ol.breadcrumb li {
	/*float: left;*/
	display: inline;
}

body {
/*
	background-color: #f0f0f0;
	color: #353535;
*/
        background-color: #10151a;
        color: #00ff80 !important;

/*	margin: 0 auto;*/
	max-width:820px; 
	padding: 0 10px 0 10px;
}
body {
/* font-family:sans-serif;font-size:1.1em;line-height:1.5em */
	font-family: "Lucida Grande",Verdana,Lucida,Helvetica,Arial,sans-serif; */

/*	font-family: "Lucida Sans Unicode", "Lucida Grande", "Verdana", "FreeSans", sans-serif;*/
	font-family: monospace;
	font-size: large;
/*
	font-size: 1.1em;
	line-height: 1.5em;
*/
}

/* in normalize:
input[type=button], button, select {
	font-family: inherit;
	font-size: 1em;
}
*/
input[type="text"], textarea {
        background-color: #10151a;
        color: #00ff80;
}

input[type=submit] {
	background-color: #10151a;
	color: #00ff80;
	padding: .3em;
}

a {
	color: #008Acf;
	background-color: transparent;
}
a:active, a:hover {
	color: #00CFcf;
	outline: 0;
}


img{border:0;max-width: 100%;}

/*header,*/
code,pre,kbd,samp,h1,h2,h3,h4,h5,h6{font-family:monospace;overflow-x:auto;}
header 	{
	margin: 2em 0 2em;
/*	border-bottom: 1px dashed green;*/
}

h1,h2,h3,h4,h5,h6 {
	font-family: inherit;
	line-height: 1.5em;
	margin: 0 0 .5em;
}
h1{font-size:2em}
h2{font-size:1.5em}
h3{font-size:1.3em}
h4{font-size:1.15em}
h5{font-size:1em}
h6{font-size:.75em;text-transform:uppercase}

ul {
	list-style-type: none;
	padding-left: 0;
}

p{margin:0 0 1em}
blockquote{border-left:.1em solid #e2e5e9;margin:1.5em 0;padding:0 1.25em 0 1.24em}
footer{text-align: center;border-top:solid #e2e5e9 0.1em;margin:2em 0; font-size: 0.9em; margin-top: 1em; padding: 1em 0 1em;}

.top_links {
	font-size: .8em;
}


.grid-1 {
	display: grid;
	grid-template-columns: 50% 50%;
}
